{% extends 'layout.html' %}
{% block body %}
<div class="row">
    <div class="col-5 mx-auto">
        <h3>CADASTRAR EVENTO</h3><hr>
        <form method="post" action="{{url_for('add_event')}}">
            <div class="form-group">
                <label>Usuário</label>
                <input type="text" name="usuario" required class="form-control">
            </div>
            <div class="form-group">
                <label>Nome do Evento</label>
                <input type="text" name="nome_evento" required class="form-control">
            </div>
            <div class="form-group">
                <label>Local</label>
                <input type="text" name="local" required class="form-control">
            </div>
            <div class="form-group">
                <label>Data</label>
                <input type="date" required class="form-control" name="data" min="2018-01-01" max="2018-12-31" />
            </div>
        </br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>

</div>

{% endblock %}