{% extends 'layout.html' %}
{% block body %}
<div class="row">
<h3 class='text-center text-muted mb-3'></h3>
<p class="text-right"><a href="{{url_for('add_event')}}" class="btn btn-success">+Novo Cadastro</a></p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nome do Evento</th>
        <th scope="col">Local</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
        {% for row in datas %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{row.USUARIO}}</td>
        <td>{{row.NOME_EVENTO}}</td>
        <td>{{row.LOCAL}}</td>
        <td>{{row.DATA}}</td>
        <td><a href="{{url_for('edit_event',id=row.ID)}}" class="btn btn-primary">Editar</a></td>
        <td><a href="{{url_for('delete_event',id=row.ID)}}" class="btn btn-danger" onclick="return confirm ('Tem certeza que deseja apagar?')">Deletar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}